.input-adel {
  width: 100%;
  padding: 2%;
  margin-top: 4px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}


.submit-btn {
  background: #38a169;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}
